.article-div {
  background-color: #FFF;
  margin-top: 1em;
  border: 1px solid #6F9FD8;
  box-shadow: 0.2em 0.4em #E94B3C;

}

/* .article-div * {
  background-color: #E94B3C;
} */

.article-link {
  color: black;
}

.article-link:hover {
  color: yellow;
  background: #E94B3C
}

.vote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.article-votes {
  font-size: 0.8em;
  text-align: center;
}

.vote-button {
  border: none;
  font-size: 1.8em;
  /* background-color: rgba(188, 143, 143, 0.5); */
}

.vote-button:hover {
  /* height: 2em; */
  color: blue;
}
