#nav > * {
  border: 1px solid black;
  border-bottom-width: 0em;
  padding-left: 0.2em;
  padding-bottom: 0em;
}

/* #nav > *:hover {
  background-color: yellow;
} */

#nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* border: 1px solid black; */
}

.topic-name {
  border: 0px solid black;
}

.topic-name:hover {
  background-color: yellow;
}

#nav > NavLink {
  color: #E94B3C;
}

.active-topic-name {
  color: #E94B3C;
  background: greenyellow;
  height: 2em;
}

.active-topic-name:hover {
  color: #E94B3C;
  background: greenyellow;
}