#side {
    background: repeating-linear-gradient(
        135deg,
        #fff,
        #fff 40px,
        yellow 40px,
        yellow 80px
      );
      
    }
    
    #side-bar-container {
        /* height: 80% */
        width: 16vw;
}

.side-topic {
    font-size: 2em;
    text-decoration: underline;
}

.side-topic:hover {
    background: #E94B3C;
    font-style: italic;
    color: white;
    font-size: 2.2em;
}

.side-active-topic {
    color: #E94B3C;
    background: greenyellow;
    font-size: 2.2em;
    text-decoration: none;
}

.side-active-topic:hover {
    color: #E94B3C;
    background: greenyellow;
    font-size: 2.2em;
    text-decoration: none;
}