#header {
  /* border: 1px solid black; */
  border-bottom: 1px solid black;
  font-style: italic;
  color: black;
}

#anim {
  width: 90%;
  position: absolute;
  top: 5px; left: 10px;
  z-index: -1;
  animation: 0.8s linear 0s movein;
}

.header-link {
  text-decoration: none;
  color: black;
}

@keyframes movein {
  from { margin-left: -100%; }
  to   { margin-left: 0%; }
}